{extend name='base'/} {block name='content'}

<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/timeline.css">

<div class="col-xs-7 col-md-7">
	<div class="row">
		<div class="lefttime">
			<header class="site-header">
				<div class="wrapper">
					<h1 class="site-header__title">记录点滴</h1>
				</div>
			</header>
			<section class="timeline">
				<div class="wrapper">
					{foreach name='noteData' item='vo'}
					<div class="timeline__item timeline__item--1">
						<div class="timeline__item__station"></div>
						<div class="timeline__item__content">
							<h2 class="timeline__item__content__date">{:date('Y-m-d',$vo['note_time'])}</h2>
							<p class="timeline__item__content__description">{$vo['note_content']}</p>
						</div>
					</div>
					{/foreach}
				</div>
			</section>
		</div>
	</div>
	{$noteData->render()}
</div>

{/block}